body {
    margin: 0px;
    padding: 0px;
    background-color: wheat;
}
a:link {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}
a:active {
    color: white;
}
a:visited {
    color: black;
}
a:hover {
    font-size: 18px;
    color: blue;
}
#name {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
}
#navbarList {
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
}
.navbarItem {
    float: left;
    margin-right: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px white;
    background-color: white;
    position: sticky;

}
#Hero {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Images/CodigoJava.png");
    background-color: black;
    font-size: 40px;

}
.Title{
    color: white;

}
.Date{
    color: white;

}
.ProyectImage {
    width: 400px;
    padding-top: 10px;
}
.ProyectImages {
    display: flex;
    justify-content: center;
    align-content: center;
   }
.ProyectContainerText {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: left;
    align-content: center;
}
.ProyectContainer {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-content: center;
    background-color: rgba(0, 132, 134, 0.8);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.ProyectContainerRight {
    display: flex;
    justify-content: space-around;
    text-align: right;
    align-content: center;
    background-color: rgba(0, 132, 134, 0.8);
    padding-bottom: 10px;
}
#Experience {
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#Name {
    text-align: right;
    font-size: 25px;
}
.ObjectivesList {
 list-style-type: lower-greek;
 list-style-position: inside;
}
#Description {
    text-align: justify;
}
#AboutMe {
 display: flex;
 justify-content: center;
 align-content: center;
 flex-direction: column;
 background-position: center;
 background-repeat: no-repeat;
 padding-right: 10%;
 padding-left: 10%;
 background-image: url(Images/Yo.jpg);
 color: white;
}
#send {
    border-width: 3px;
    border-color: white;
    margin-bottom: 8px;
    border-radius: 5px;
}
#send:hover {
    border-width: 3px;
    border-color: blue;
    margin-bottom: 8px;
    border-radius: 5px;
}
input[type=text] {
    border-width: 3px;
    border-color: white;
    margin-bottom: 8px;
    border-radius: 5px;
}
#Text {
    background-color:rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    margin-bottom: 10px;
    color: black;
}
#Inputs {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}
#Contacts {
    color: black;
    background-color:rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
#ContactMe {
    padding-left: 10%;
    padding-right: 10%;
    background-image: url("Images/Contactame.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}